    <footer>
        <div class="logo-container">
            <img src="https://storage.googleapis.com/a1aa/image/Ls8_7cQw9FvbU1cLhvUwoOMXLWpyXAElzpttk3lj4Mc.jpg" alt="MyGov">
            <img src="https://storage.googleapis.com/a1aa/image/hzrAppldgsowF08QAaEuB1mQqX0Z24YGrhbYFBIj-Ww.jpg" alt="Data.gov">
            <img src="https://storage.googleapis.com/a1aa/image/hJCMtFAfkpWALmkDndFCnFgWKcl--Qw7jAmlAuMhdSc.jpg" alt="Digital India">
            <img src="https://storage.googleapis.com/a1aa/image/dAkavNvHC53rlIxjp6KRYn_3tmx5ytHfERUi3qAGN0o.jpg" alt="GeM">
            <img src="https://storage.googleapis.com/a1aa/image/VikIi009_M4AcVzUJAZAV3_9X8iDmMSI-sVG6IsTm3A.jpg" alt="India.gov.in">
            <img src="https://storage.googleapis.com/a1aa/image/LhFAJwE6snZ-UqhLssAgQ6ZoL80bjLt_mrYnhh0WFF0.jpg" alt="MeitY">
        </div>
        
        <div class="footer-links">
            <div class="terms">
                <h4>Terms and Policies</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">HyperLink Policy</a></li>
                    <li><a href="#">Website Policies</a></li>
                    <li><a href="#">Content Policies</a></li>
                    <li><a href="#">Contingency Plan</a></li>
                </ul>
            </div>
            <div class="about">
                <h4>About</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">MoRTH</a></li>
                    <li><a href="#">CMVR 1989</a></li>
                </ul>
            </div>
            <div class="resources">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Fees and User Charges</a></li>
                    <li><a href="#">Act, Rules and Policies</a></li>
                    <li><a href="#">Permit Fees and Period</a></li>
                    <li><a href="#">Manual</a></li>
                    <li><a href="#">Homologation</a></li>
                </ul>
            </div>
            <div class="help">
                <h4>Need Help</h4>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Frequently Asked Questions</a></li>
                    <li><a href="#">Raise a concern</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Web Information Manager</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>Total Visitors: 000000000</p>
            <p>Last Updated: 01-04-2025</p>
            <p>Designed, Developed and Hosted by: NIC, Government of India © 2023. All Rights Reserved.</p>
        </div>
    </footer>