<div class="bg-lightcolor">
    <div class="container mx-auto py-8">
      <!-- Title -->
      <h1 class="text-2xl font-bold text-center mb-4">Informational Services</h1>
  
      <!-- Description -->
      <p class="text-center mb-8">
        Various services related to registration of vehicle/already registered vehicle like
        Appointment Booking, Application Status, Duplicate Registration, Change of Address,
        Transfer of Ownership, Hypothecation, etc.
      </p>
  
      <!-- Service Cards Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <!-- Service Card -->
        <div class="card bg-white p-6 rounded-lg shadow-md text-center hover:shadow-lg transition-shadow" 
             *ngFor="let service of services">
          <img
            [alt]="service.title + ' Icon'"
            class="mx-auto mb-4"
            height="100"
            [src]="service.imageUrl"
            width="100"
          />
          <h2 class="text-xl font-semibold mb-2">{{service.title}}</h2>
          <p class="mb-4">{{service.description}}</p>
          <button class="hover:bg-blue-600 text-white px-4 py-2 rounded transition-colors bg-color">
            {{service.buttonText}}
          </button>
        </div>
      </div>
    </div>
  </div>