<div class="container">
    <header class="header bg-color">
        <h1>Contact Us</h1>
    </header>
    <p>For any technical problem contact/write to us-:</p>
    <table>
        <thead class="font-color">
            <tr>
                <th>Problem Area:</th>
                <th>Email-id</th>
                <th>Contact Number</th>
                <th>Timings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Vehicle registration, fitness, Tax, Permit, Fancy, Dealer etc</td>
                <td>helpdesk-vahan[at]gov[dot]in</td>
                <td>+91-120-4925505</td>
                <td>06:00 AM - 12:00 Midnight</td>
            </tr>
            <tr>
                <td>Learner License, Driving Licence etc</td>
                <td>helpdesk-sarathi[at]gov[dot]in</td>
                <td>+91-120-4925505</td>
                <td>06:00 AM - 12:00 Midnight</td>
            </tr>
            <tr>
                <td>mParivahan Related</td>
                <td>helpdesk-mparivahan[at]gov[dot]in</td>
                <td>+91-120-4925505</td>
                <td>06:00 AM - 12:00 Midnight</td>
            </tr>
            <tr>
                <td>eChallan Related</td>
                <td>helpdesk-echallan[at]gov[dot]in</td>
                <td>+91-120-4925505</td>
                <td>06:00 AM - 12:00 Midnight</td>
            </tr>
        </tbody>
    </table>
</div>