<select class="no-translate" translate="no" [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
    <option class="no-translate" translate="no" value="en">English</option>
    <option class="no-translate" translate="no" value="hi">Hindi</option>
    <option class="no-translate" translate="no" value="ta">Tamil</option>
    <option class="no-translate" translate="no" value="te">Telugu</option>
    <option class="no-translate" translate="no" value="kn">Kannada</option>
    <option class="no-translate" translate="no" value="ml">Malayalam</option>
    <option class="no-translate" translate="no" value="bn">Bengali</option>
  </select>